.dragDropBg {
    composes: fileUploaderBg from "../index.css";
    height: 50vh;
    cursor: pointer;
}

.uploaderBgHighlight{
    composes: dragDropBg;
    border: 10px solid var(--text-primary)
}

.uploadImg {
   height: 10vh;
}

.uploadInput {
   display: none;
}