.dragDropBg {
  composes: fileUploaderBg from "../index.css";
  cursor: pointer;
}

.uploaderBgHighlight {
  composes: dragDropBg;
  padding: 100px 100px;
  border: 10px solid var(--text-primary);
}

.uploadImg {
  height: 10vh;
}

.uploadInput {
  display: none;
}
