.previewBg {
  composes: fileUploaderBg from "../index.css";
  width: 70%;
}

.preview {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 25px 0;
}

.previewImg {
  width: 300px;
  max-width: 100%;
  height: auto;
}

.previewText {
  composes: boldText from "../index.css";
}

.compressionSlider {
  width: 100%;
}

.slider {
  appearance: none;
  width: 70%;
  height: 10px;
  border-radius: 5px;
  background: #c4c4c4;
  outline: none;
  opacity: 1;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--text-primary);
  cursor: pointer;
}

.compressionRate {
  font-weight: bold;
}

.ctaBg {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 25px 0;
}

.actionButton {
  display: inline-block;
  border-radius: 22px;
  padding: 0.8rem 0;
  margin: 0.5rem 1rem;
  width: 9em;
  cursor: pointer;
  font-weight: bold;
}

.cancel {
  composes: actionButton;
  border: 1px solid black;
}

.upload {
  composes: actionButton;
  background-color: var(--primary);
  border: 0.5px solid var(--primary);
}
