

progress {
    width: 70%;
    border-radius: 10px;
}
progress::-webkit-progress-bar {
    background-color: #c4c4c4;
    width: 100%;
    border-radius: 10px
}

progress::-webkit-progress-value {
    background-color: #4D525B !important;
    border-radius: 10px
}
