.previewBg {
    display: flex;
    flex-direction: column;
    background-color: var(--surface);
    width: 50vw;
}

.preview {
    margin: 25px 0;
}

.previewImg {
    height: 30vh;
}

.previewText {
    font-weight: bold;
    margin-bottom: 5vh;
}

.compressionSlider {
    width: 100%;
}

.slider {
    appearance: none;
    width: 70%;
    height: 10px;
    border-radius: 5px;
    background: #C4C4C4;
    outline: none;
    opacity: 1;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

.compressionRate {
    font-weight: bold;
}


