body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body > #root > div {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --surface: #C2E5E1;
  --primary: #FACBCF;
  --secondary: #ffffff;
  --text-primary: #4D525B;
  --text-secondary: #00000;
}

p, button {
  color: var(--text-primary)
}

.boldText {
  font-weight: bold;
  margin-bottom: 5vh;
}
